<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../assets/css/Informationcss.css">
    <link rel="stylesheet" href="../assets/font/themify-icons/themify-icons.css">
    <title>Information</title>
</head>

<body>
    <form class="modal-content animate" action="/action_page.php" method="post">
        
        <div class="container">
            <div class="biensoxe">
                <p> 43D44169 </p>
            </div>
            <table>
                <tr>
                    <td>Card ID: </td>
                    <td>171020</td>
                </tr>
                <tr>
                    <td>Card Plate: </td>
                    <td>43D44169</td>
                </tr>
                <tr>
                    <td>Tên: </td>
                    <td>Orient Pearl</td>
                </tr>
                <tr>
                    <td>Time in: </td>
                    <td>12:26 01/01/2021</td>
                </tr>
            </table>

            <h3 class="verify_text">Biển số xe hợp lệ. Mở cổng!</h3>
        </div>
        <div class="container" style="background-color:#f1f1f1">
            <button type="button" onclick="document.getElementById('id01').style.display='none'"
                class="exitbtn">Exit</button>
            <!-- <span class="psw">Forgot <a href="#">password?</a></span> -->
        </div>
    </form>
</body>